<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safeandsound.app.safeandsound">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".AppController"
        android:minSdkVersion="8"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LogInActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AirQualityActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.WindowActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Room"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".view.SignUpActivity"
        android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SensorOverview"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.LiveStreamActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.RuleActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.LibraryActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.MotionPictureActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.AirQualityDiagrammActivity"
            android:label="@string/app_name">
        </activity>
        <service
            android:name=".controller.firebase.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".controller.firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>